.env
q1.json
q2.json
lite report.docx
flash report.docx
GPT-41 mini report.docx
grok 4 fast report.docx
1-100 or 50-100.txt

deepseek r1t2 chimera
deepSeek v32 exp
gpt 4.1 mini
gpt 4o mini
gpt oss 20
gpt oss 120
grok 4 fast

claude haiku 45