.env
q1.json
q2.json
lite report.docx
flash report.docx
GPT-41 mini report.docx
grok 4 fast report.docx
1-100 or 50-100.txt


claude haiku 4.5
deepseek r1t2 chimera
deepseek v32 exp
gpt 4.1 mini
gpt 4o mini
gpt oss 20
gpt oss 120
grok 4 fast
llama 4 maverick
llama 4 scout
qwen3 235

