.env
qanuns.ipynb
dadname_scraping.ipynb
subjects.ipynb
davoudabadi_cookies.pkl
ali-edari-dadname-metadata.ipynb
extract IPYNB
embeddins_test.ipynb
law-meta-address.txt
qdrant_data
rag_pipeline_test.ipynb
rag_pipeline_test-Copy.ipynb
test.ipynb