langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
langchain-text-splitters
langchain-experimental
langchain-openai
chromadb
langchain-huggingface
tqdm
faiss-cpu
langchain-google-genai
python-docx
pandas
matplotlib
seaborn
openai
openpyxl